<!--
 * @Descripttion: 
 * @version: 
 * @Author: wzs
 * @Date: 2020-03-11 20:17:09
 * @LastEditors: wzs
 * @LastEditTime: 2020-03-17 20:08:20
 -->
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>后台管理系统</title>
	<link rel="stylesheet" href="__ADMIN__/layui/css/layui.css">
	<link rel="stylesheet" href="__ADMIN__/css/admin.css">
	<link rel="stylesheet" href="__ADMIN__/css/template.css">
	<link rel="stylesheet" href="__PLUGINS__/font-awesome/css/font-awesome.min.css">
	{block name='css'}{/block}
	<script src="__ADMIN__/js/jquery.min.js"></script>
	<script src="__PLUGINS__/jquery.pjax.js"></script>
	<script src="__ADMIN__/layui/layui.js"></script>
</head>

<body class="layui-layout-body">
	<div id="LAY_app" class="">
		<div class="layui-layout layui-layout-admin">
			{block name='header'}
			<div class="layui-header">
				<!-- 头部区域 -->
				<ul class="layui-nav layui-layout-left">
					<li class="layui-nav-item layadmin-flexible" lay-unselect>
						<a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
							<i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
						</a>
					</li>
					<li class="layui-nav-item layui-hide-xs" lay-unselect>
						<a href="/index.html" target="_blank" title="前台">
							<i class="layui-icon layui-icon-website"></i>
						</a>
					</li>
					<li class="layui-nav-item" lay-unselect>
						<a href="javascript:;" layadmin-event="fullscreen" title="全屏">
							<i class="layui-icon layui-icon-screen-full"></i>
						</a>
					</li>
					<li class="layui-nav-item" lay-unselect>
						<a href="javascript:;" layadmin-event="refresh" data-url="{:url('system/clear')}" title="刷新">
							<i class="layui-icon layui-icon-refresh-3"></i>
						</a>
					</li>
					<li class="layui-nav-item layui-hide-xs" lay-unselect="">
						<input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search"
							layadmin-event="serach" lay-action="template/search/keywords=">
					</li>
				</ul>
				<ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
					<li class="layui-nav-item" lay-unselect>
						<a href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
							<i class="layui-icon layui-icon-notice"></i>
							<span class="layui-badge-dot"></span>
						</a>
					</li>
					<li class="layui-nav-item layui-hide-xs" lay-unselect>
						<a href="javascript:;" layadmin-event="theme">
							<i class="layui-icon layui-icon-theme"></i>
						</a>
					</li>
					<li class="layui-nav-item layui-hide-xs" lay-unselect>
						<a href="javascript:;" layadmin-event="note">
							<i class="layui-icon layui-icon-note"></i>
						</a>
					</li>
					<li class="layui-nav-item" lay-unselect>
						<a href="javascript:;">
							<img src="__ADMIN__/img/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="layui-nav-img">
							<cite>{$admin.username}</cite>
						</a>
						<dl class="layui-nav-child">
							<dd><a href="">基本资料</a></dd>
							<dd><a href="">安全设置</a></dd>
							<dd><a href="{:url('login/loginOut')}">退出登录</a></dd>
						</dl>
					</li>

					<li class="layui-nav-item layui-hide-xs" lay-unselect>
						<a href="javascript:;" layadmin-event="about"><i
								class="layui-icon layui-icon-more-vertical"></i></a>
					</li>
					<li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
						<a href="javascript:;" layadmin-event="more"><i
								class="layui-icon layui-icon-more-vertical"></i></a>
					</li>
				</ul>
			</div>
			{/block}
			{block name='menu'}
			<div class="layui-side layui-side-menu">
				<div class="layui-side-scroll">
					<!-- logo -->
					<div class="layui-logo" lay-href="{:url('main')}">
						<span style="font-size:24px;font-weight: bold;">COOLPHP</span>
					</div>
					<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
					<ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
						lay-filter="layadmin-system-side-menu">
						{foreach name="menu" item="vo"}
						{if condition="isset($vo['children'])"}
						<li data-name="{$vo.title}" class="layui-nav-item">
							<a href="javascript:;" lay-tips="{$vo.title}" lay-direction="2">
								<i class="layui-icon layui-icon-{$vo.icon}"></i>
								<cite>{$vo.title}</cite>
							</a>
							<dl class="layui-nav-child">
								{foreach name="vo['children']" item="v"}
								<dd class="{:pathinfo(url($v.name))['dirname']==strtolower(pathinfo($_SERVER['REQUEST_URI'])['dirname'])?'layui-this':''}"><a
										lay-href="{:url($v.name)}">{$v.title}</a></dd>
								{/foreach}
							</dl>
						</li>
						{else /}
						<li class="layui-nav-item {:pathinfo(url($vo.name))['dirname']==strtolower(pathinfo($_SERVER['REQUEST_URI'])['dirname'])?'layui-this':''}">
							<a lay-href="{:url($vo.name)}" lay-tips="{$vo.title}" lay-direction="2">
								<i class="layui-icon layui-icon-{$vo.icon}"></i>
								<cite>{$vo.title}</cite>
							</a>
						</li>
						{/if}
						{/foreach}
					</ul>
				</div>
			</div>
			{/block}
			<!-- 页面标签 -->
			{block name='pagetabs'}
			<div class="layadmin-pagetabs" style="padding: 0;height: 50px;
			line-height: 50px;">
				<div class="layui-breadcrumb" id="breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">

				</div>
			</div>
			{/block}

			<div class="layui-body" id="LAY_app_body">
				<!-- 内容主体区域 -->
				<div class="layadmin-tabsbody-item layui-show">
					<!-- <iframe src="{:url('main')}" frameborder="0" class="layadmin-iframe"></iframe> -->
					<div class="layadmin-iframe scroll">
						{block name='main'}{/block}
						{block name="js"}{/block}
						{block name="script"}{/block}
					</div>
				</div>
			</div>

			{block name='footer'}
			<!-- <div class="layui-footer">
				© hrbkcwl.com
			</div> -->
			{/block}
			<div class="layadmin-body-shade" layadmin-event="shade"></div>
		</div>
	</div>
	<script>
		layui.config({
			base: '__ADMIN__/' //静态资源所在路径
		}).extend({
			index: 'lib/index' //主入口模块
		}).use(['index', 'adminn']);
	</script>
</body>

</html>